.container{
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
}
.objectone{
    width: 100px;
    height: 100px;
    border-color: #F3AC3C;
    border-style: solid;
    background-color: #F3AC3C;
    border-radius: 100%;
    
}
.objecttwo{
    width: 100px;
    height: 100px;
    border-color: #998235;
    border-style: solid;
    background-color: #998235;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-left: -200px
    
    
}
.objectthree{
     width: 100px;
    height: 100px;
    border-color: #F3AC3C;
    border-style: solid;
    background-color: #F3AC3C;
     border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-left: -400px;
}
body{
    background-color: #0B2429;
}