*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    position: relative;
width: 400px;
height: 300px;
background-color: #0B2429;
}
.box1{
    position: absolute;
    left:45%;
    top:15%;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #F3AC3C;
}
.box2{
    position: absolute;
    left:33%;
    top:32%;
    width: 100px;
    height: 100px;
    border-radius: 100% 0% 100% 100%;
    background-color:#998235;
}
.box3{
    position: absolute;
    left:20%;
    top:50%;
    width: 100px;
    height: 100px;
    border-radius: 100% 0% 100% 100%;
    background-color:#F3AC3C;
}