* {
  margin: 8px;
  padding: 8px;
  box-sizing:border-box;
}

body {

  
  background-color: #5e6268;
 
}

#site-header {
  background-color: #38444b;
  color: rgb(10, 10, 10);
  padding: 30px;
}

#site-header h1 {
  margin-bottom: 10px;
  padding-bottom: 5px;
}

#site-header nav {
  background-color: #86939c;
  padding: 5px ;
  margin-right:100px;
  border-radius: 20px;
}

#site-header nav a {
  color: rgb(0, 0, 0);
  margin-right:10px;
  padding: 5px 20px ;
  border-radius: 8px;
  text-decoration:none;
  cursor: pointer;
  transition: 0.5s;
}
#site-header nav a:hover{
  background-color: #000000;
  color: #000000;
  padding: 10px 10px;

}
#site-header nav a[target="_blank"] {
  background-color: #000000;
  color: rgb(243, 236, 236);
}

#main-content {
  padding: 30px;
}

.card {
  width: 300px;                 
  margin-bottom: 30px;         
  padding: 15px;                
  border: 5px solid #000000;       
  border-radius: 15px;          
  background-color: rgb(247, 241, 246);
}

.card[data-type="featured"] {
  background-color: #effeff;
border: 5px solid #000000;
}

.card h2 {
  color:#000000;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.card a {
  margin-top: 10px;
 
  color: #ff0000;
  transition: 0.3s;
}
.card a:hover{
  color: #9092a8;
}
.card p{
  color:#000000;
  text-align: center;
  padding-bottom: 20px;
}

form {
  margin-top: 9%;
}


form input {
  display:block;
  width: 500px;
  margin-bottom: 15px;
  padding: 9px;
  border: 1px solid #000000;
  border-radius: 5px;
}


form input[type="password"] {
  border: 2px solid #000000;
  background-color: #fff0f6;
}

form button {
  padding: 8px 16px;
  margin-left: 220px;
  margin-top: 20px;
  border: 2px solid #000000;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  transition: 0.5s;
}

form button:hover {
  background-color: #000000;
  color: rgb(0, 0, 0);
}

footer {
  margin-top: 1000px;
  padding: 0px;
  text-align: center;
  background-color: #14141f;
  color: white;
}