.container{
    height: 50px;
    width: 100%;
    background-color: rgb(22, 20, 19);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: wheat;
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    font-style: initial;
    margin-left: 100px;cs
}
.link{
    font-size: 100%;
    text-decoration: none;
    margin-left: 150px;
    text-transform: normal;
    font-style: normal;
    color: rgb(136, 132, 132);
}
    
.btn{
    border: 10px solid rgb(40, 136, 143);
    background-color: rgb(40, 136, 143);
    border-top-left-radius: 30px ;
    border-top-right-radius: 30px ;
    border-bottom-left-radius: 30px ;
    border-bottom-right-radius: 30px ;
  color: white;
  margin-left: 300px;

}
.navbar{
    display: flex;
    margin-bottom: 1px;
    margin-left: 100px;
}
.wrap{
display: flex;
justify-content: space-between;
align-items: center;
}