body{
    background-color: #e0e7f0;
    font-family: Arial, sans-serif;
}

.navbar .link{
    color: #ccc;
    text-decoration: none;
    margin: 0 15px;


}
.btn{
    background-color: #0088a9;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 50px;
}
.logo{
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}
.wrap{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #1a1a1c;
}