.div1{
    margin: 30px;
    width: 30px;
    border-style: solid;
    height: 100px;
    width: 100px;
    border-color: rgb(0, 119, 255);
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;

}
.div2{
    border-style: dashed;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background-color: red;
}





