*{
    box-sizing: content-box;
}
.contanier{
    width: 400px;
    height: 300px;
    
    background-color: #6592CF;
    position: relative;
}


.klor{
    border: 50px solid #6592CF;
    border-radius: 50%;
    background-color: #243D83;
    position: absolute;
    height: calc(100% *2/3);
    width: calc(100% *1/2);
    top: 50%;
    left: 50% ;
    translate: -50% -50%;

}

.poqr{
    aspect-ratio: 1/1;
    background-color: #EEB850;
    border-radius: 50%;
    width: calc(100% * 1/3);
    height: calc(100% * 1/3);
    position: relative;
     top: 50%;
    left: 50% ;
    translate: -50% -50%;



}

.box1{
    width:calc(100% * 1/7) ;
    height:calc(100% * 2/3) ;
    background-color: #243D83;
    position: absolute;
    top: calc(100% * 1/6);
    left: calc(100% * 1/15);
    
}


.box2{
    width:calc(100% * 1/7) ;
    height:calc(100% * 2/3) ;
    background-color: #243D83;
    position: absolute;
    top: calc(100% * 1/6);
    right: calc(100% * 1/15);
    
}