* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90vmin;
  aspect-ratio: 1 / 1;

  position: relative;
}

.out {
  width: 50%;
  aspect-ratio: 1 / 1;
  position: absolute;
  border: 5px solid #000;
  border-radius: 50%;
}
.out1{
  top: 0;
  left: 0;
}
.out2{
  top: 0;
  right: 0;
}
.out3{
  bottom: 0;
  right: 0;
}
.out4{
  bottom: 0;
  left: 0;
}

.in {
  background: #f00;
  width: 50%;
  aspect-ratio: 1 / 1;
  position: absolute;
}

.in1 {
  bottom: 0;
  right: 0;
  border-radius: 100% 0;
  border-top: 5px solid #000;
  border-left: 5px solid #000;
}
.in2 {
  bottom: 0;
  left: 0;
  border-radius: 0 100%;
  border-top: 5px solid #000;
  border-right: 5px solid #000;
  
}
.in3 {
  top: 0;
  left: 0;
  border-radius: 100% 0;
  border-bottom: 5px solid #000;
  border-right: 5px solid #000;
  
}
.in4 {
  top: 0;
  right: 0;
  border-radius: 0 100%;
  border-bottom: 5px solid #000;
  border-left: 5px solid #000;

}