
.div1{
    height: 0;
    width: 0;
    border-left: 50px solid white;
    border-bottom: 100px solid rgb(0, 214, 36);
    border-right: 50px solid white;
    border-top: 50px solid rgb(255, 255, 255);
    margin-left: 100px;
    margin-top: 100px;
}
.div2{
    height: 150px;
    width: 50px;
    border-color: rgb(0, 214, 36);
    border-style: solid;
    background-color: rgb(0, 214, 36);
    margin-left: 122px;
}