.div1{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 100%;
}
.div2{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 100%;
}
.div3{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 100%;
    margin-left: 50px;
    margin-top: -100px;
}
.div4{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 100%;
    margin-left: 50px;
    margin-top: -0px;
}
.div5{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 100%;
    border-color: red;
    background-color: red;
    margin-left: 25px;
    margin-top: -75px;
}
.div6{
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border: solid white;
    margin-left: 36.5px;
    margin-top: -37.5px;
    background-color: #fff;
}