body{
    background-color: #e0e7f0;
    font-family: Arial, sans-serif;
}

.navbar .link{
    color: #ccc;
    text-decoration: none;
    margin: 0 15px;


}
.btn{
    background-color: #0088a9;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 50px;
}
.logo{
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a1c;
    padding: 15px 50px;
    color: white;}