 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  .container{
    position:relative;
    width:400px;
    height:300px;
    background-color:#0D1335;
  }
  .round{
    position:absolute;
    top:43%;
    left:45%;
    width:40px;
    aspect-ratio:1/1;
    border-radius:50%;
    background-color:#73C6EA;
  }
  .elipse{
    position:absolute;
    width:250px;
    height:110px;
    border-radius:50%;
  }
  .e1{
    border:10px solid #FBFAE2;
    top:32%;
    left:19%;
  }
    .e2{
    position:absolute;
    border:10px solid #4FA07B;
    top:32%;
    left:19%;
    transform:rotate(120deg);
  }
  .e3{
    position:absolute;
    border:10px solid #DC6638;
    top:32%;
    left:19%;
    transform:rotate(-120deg);
  }