.container{
    display: flex;
    align-items: start;
    flex-direction: row;
    margin: 100px;

    
}
.objectone{
    border-color: #F7EC7D;
    background-color: #F7EC7D;
    border-style: solid;
    height: 100px;
    width: 100px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-top: 105px;
    
}
body{
    background-color: #62306D;
}
.objecttwo{
    border-color: #F7EC7D;
    background-color: #F7EC7D;
    border-style: solid;
    height: 100px;
    width: 100px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
   
}
.objectthree{
    border-color: #F7EC7D;
    background-color: #F7EC7D;
    border-style: solid;
    height: 100px;
    width: 100px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
margin-top: 105px;    
}
