:root {
    /* Colors */
    --color-primary: #1572D3;
    --color-primary-bg: #1572d31a;
    --color-black: #000000;
    --color-neutral-1: #222222;
    --color-neutral-2: #444444;
    --color-neutral-3: #666666;
    --color-neutral-4: #888888;
    --color-neutral-5: #aaaaaa;
    --color-neutral-6: #cccccc;
    --color-neutral-7: #eeeeee;
    --color-white: #ffffff;
    /* Font Sizes */
    --font-size-1: 12px;
    --font-size-2: 14px;
    --font-size-3: 16px;
    --font-size-4: 18px;
    --font-size-5: 20px;
    --font-size-6: 24px;
    --font-size-7: 38px;
    --font-size-8: 48px;
    --font-size-9: 64px;
    /* Font Families */
    --font-family-main: "Poppins", sans-serif;
    /* Radius */
    --radius-1: 8px;
    --radius-2: 12px;
    --radius-3: 16px;
    --radius-4: 24px;
    --radius-i: calc(infinity * 1px);
    /* Transition */
    --transition: 0.3s;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {}

body {
    height: 300vh;
    font-family: var(--font-family-main);
    color: var(--color-neutral-1);
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul,
ol {
    list-style: none;
}

button {
    cursor: pointer;
    display: inline-block;
    border: none;
}

.container {
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.common_hgroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.common_title {
    padding: 16px 32px;
    background: var(--color-primary-bg);
    color: var(--color-primary);
    border-radius: var(--radius-1);
    font-weight: 500;
    font-size: var(--font-size-2);
    text-transform: uppercase;
}

.common_heading {
    font-weight: 500;
    font-size: var(--font-size-7);
    color: var(--color-neutral-1);
}
#check {
    display: none;
}
.burger  {
    height: 24px;
    aspect-ratio: 4 / 3;
    position: relative;
    cursor: pointer;
    display: none;
}

.line {
    width: 100%;
    border-top: 3px solid #000;
    position: absolute;
    transition: var(--transition);
}

.t {
    top: 0;
    left: 50%;
    translate: -50%;
}

.m {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.b {
    top: 100%;
    left: 50%;
    translate: -50% -100%;
}

#check:checked ~ .burger > .t {
    rotate: 45deg;
    top: 50%;
    translate: -50% -50%;
}
#check:checked ~ .burger > .m {
    width: 0;
}
#check:checked ~ .burger > .b {
    rotate: -45deg;
    top: 50%;
    translate: -50% -50%;
}

.header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 20px;
    z-index: 999;
    backdrop-filter: blur(10px);
}

.header_wrap {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header_logo {
    height: 50%;
    font-size: 0;
}

.header_logo > img {

    height: 100%;
    
}

.header_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: var(--color-neutral-2);
}

.header_navlist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header_navitem {
    font-weight: 500;
    font-size: var(--font-size-3);
}

.header_auth {
    display: flex;
    align-items: center;
}

.header_auth_btn {
    padding: 8px 24px;
    font-size: var(--font-size-3);
    font-weight: 500;
}

.header_auth_btn:nth-of-type(2) {
    background: var(--color-primary);
    color: var(--color-neutral-7);
    border-radius: var(--radius-1);
}

.hero {
    height: 100vh;
    background: url("./img/hero.png") no-repeat right center / auto 100%;
}

.hero_wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 48px 0;
}

.hero_block {
    flex-grow: 1;
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.hero_title {
    color: var(--color-neutral-1);
    font-weight: 600;
    font-size: var(--font-size-8);
    line-height: 1;
}

.hero_highlight {
    color: var(--color-primary);
    background: url("./img/underline.svg") no-repeat left bottom;
    line-height: 1.6;
    display: inline-block;
}

.hero_text {
    font-size: var(--font-size-4);
    color: var(--color-neutral-1);
    line-height: 1.5;
}

.hero_market {
    display: flex;
    gap: 12px;
}

.hero_link {
    height: 40px;
}

.hero_link > img {
    height: 100%;
}

.hero_form {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-white);
    padding: 12px;
    border-radius: var(--radius-2);
    box-shadow: 0 6px 12px var(--color-primary-bg);
}

.hero_group {
    flex-grow: 1;
    display: grid;
    grid-template-columns: auto 1fr;
}

.hero_group:not(:last-of-type) {
    border-right: 1px solid var(--color-neutral-6);
}

.hero_form_icon {
    color: var(--color-neutral-4);
    font-size: var(--font-size-7);
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
}

.hero_form_title {
    font-weight: 500;
    font-size: var(--font-size-3);
    color: var(--color-neutral-1);
}

.hero_form_text {
    font-weight: 400;
    font-size: var(--font-size-2);
    color: var(--color-neutral-6);
}

.hero_btn {
    padding: 16px 50px;
    color: var(--color-white);
    font-weight: 500;
    border-radius: var(--radius-1);
    background: var(--color-primary);
}

.how {
    padding: 80px 0;
}

.how_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 64px;
}

.how_group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-width: 800px;
}

.how_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
}

.how_icon {
    background: var(--color-primary-bg);
    padding: 32px;
    border-radius: var(--radius-3);
    font-size: var(--font-size-8);
    aspect-ratio: 1 / 1;
    color: var(--color-primary);
}

.how_title {
    padding: 40px 0 24px;
    font-weight: 500;
    font-size: var(--font-size-5);
    color: var(--color-black);
}

.how_text {
    font-weight: 500;
    font-size: var(--font-size-2);
    color: var(--color-neutral-3);
    line-height: 1.6;
}

.brands_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    animation: logos linear;
    animation-timeline: view();
}

.brands_logo {
    height: 64px;
    filter: grayscale();
    opacity: 0.5;
}

.brands_logo > img {
    height: 100%;
}

.why {
    padding: 100px 0;
    background: url("./img/about.png") no-repeat left center / 50%;
}

.why_wrap {
    display: flex;
    justify-content: end;
}

.why_block {
    width: 50%;
    display: flex;
    gap: 60px;
    flex-direction: column;
}

.why_hgroup {
    align-items: start;
}

.why_group {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.why_item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 24px;
}

.why_icon {
    grid-row: span 2;
    place-self: center;
    border-radius: var(--radius-3);
    background: var(--color-primary-bg);
    width: 64px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-5);
    color: var(--color-primary);
}

.why_name {
    font-size: var(--font-size-5);
    font-weight: 500;
    color: var(--color-black);
}

.why_text {
    font-size: var(--font-size-3);
    font-weight: 400;
    color: var(--color-neutral-3);
}

.deals {
    padding: 80px 0;
}

.deals_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.deals_hgroup {
    text-align: center;
}

.deals_group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.deals_card {
    cursor: pointer;
    padding: 24px;
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-3);
    box-shadow: 0 12px 24px var(--color-primary-bg);
    transition: var(--transition);
}

.deals_card:hover {
    box-shadow: 0 0 24px #55a2f3, inset 0 0 5px #55a2f3;
    transition: var(--transition);
    translate: 0 -20px;
}

.deals_img {
    aspect-ratio: 5 / 3;
}

.deals_img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.deals_desc {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.deals_head {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.deals_name {
    font-size: var(--font-size-3);
    font-weight: 500;
    color: var(--color-neutral-1);
}

.deals_rating {
    display: flex;
    align-items: center;
    gap: 4px;
}

.deals_rating > span:nth-of-type(1) {
    color: #EFBF14;
    font-size: var(--font-size-3);
}

.deals_rating > span:nth-of-type(2) {
    color: var(--color-black);
    font-weight: 500;
    font-size: var(--font-size-1);
}

.deals_rating > span:nth-of-type(3) {
    color: var(--color-neutral-4);
    font-size: var(--font-size-1);
    font-weight: 400;
}

.deals_body {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 8px;
}

.deals_item {
    color: var(--color-neutral-4);
    font-size: var(--font-size-1);
    display: flex;
    align-items: center;
    gap: 4px;
}

.deals_icon {
    font-size: var(--font-size-4);
}

.deals_hr {
    border: 1px solid var(--color-neutral-7);
}

.deals_foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deals_price {
    font-size: var(--font-size-2);
    font-weight: 400;
    color: var(--color-neutral-3);
}

.deals_price_num {
    font-size: var(--font-size-2);
    font-weight: 400;
    color: var(--color-neutral-5);
}

.deals_price_num > span {
    font-size: var(--font-size-3);
    font-weight: 600;
    color: var(--color-neutral-1);
}

.deals_btn {
    background: var(--color-primary);
    border-radius: var(--radius-1);
    color: var(--color-white);
    font-weight: 500;
    font-size: var(--font-size-2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 16px 32px;
}

.deals_btn > span {
    line-height: 0;
    display: inline-block;
}

.deals_more {
    border-radius: var(--radius-1);
    color: var(--color-neutral-2);
    font-weight: 500;
    font-size: var(--font-size-2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 16px 32px;
    border: 1px solid var(--color-neutral-7);
    transition: var(--transition);
}

.deals_more:hover {
    transition: var(--transition);
    background: var(--color-primary);
    color: var(--color-white);
}

.app {
    background: url("./img/triangle.png") no-repeat left center / 50%;
    padding: 100px 0;
    overflow: hidden;
}

.app_wrap {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.app_block {
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.app_title {
    font-size: var(--font-size-8);
    font-weight: 600;
    color: var(--color-neutral-1);
}

.app_highlight {
    color: var(--color-primary);
    text-transform: uppercase;
}

.app_text {
    font-size: var(--font-size-4);
    color: var(--color-neutral-1);
    line-height: 1.5;
}

.app_market {
    display: flex;
    gap: 12px;
}

.app_link {
    height: 40px;
}

.app_link > img {
    height: 100%;
}

.app_img {
    max-width: 500px;
    width: 90%;
    position: relative;
}

.app_img > img {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;
}

.footer {
    background: #051C34;
    padding: 40px 0;
}

.footer_wrap {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer_top {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding-bottom: 40px;
}

.footer_info {
    display: flex;
    flex-direction: column;
    color: var(--color-neutral-7);
    gap: 32px;
}

.footer_logo {
    height: 28px;
}

.footer_logo > img {
    height: 100%;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 200px;
    font-style: normal;
}

.footer_contact {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: var(--font-size-2);
    color: var(--color-neutral-6);
}
.footer_contact > span {
    font-size: var(--font-size-6);
}

.footer_nav {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 100px;
}

.footer_group {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer_heading {
    color: var(--color-white);
    font-size: var(--font-size-3);
    font-weight: 500;
}

.footer_list {
    color: var(--color-neutral-6);
    font-size: var(--font-size-2);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.footer_media {
    color: var(--color-neutral-6);
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: var(--font-size-6);
}

.footer_hr {
    border-color: var(--color-neutral-3);
}

.footer_copyright {
    font-size: var(--font-size-1);
    font-weight: 400;
    color: var(--color-neutral-6);
}

@keyframes logos {
    0% {
        translate: 10%;
    }

    100% {
        translate: -50%;
    }
}


@media screen and (max-width: 920px) {
    .burger {
        order: 2;
        display: block;
    }
    .header_nav {
        translate: 100%;
        transition: var(--transition);
        position: fixed;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        top: 100%;
        right: 0;
        height: calc(100vh - 88px);
        background: #333c;
        color: var(--color-neutral-7);
    }
    #check:checked ~ .header_nav {
        translate: 0;

    }
    .header_navlist {
        flex-direction: column;
    }
    .header_auth {
        order: 1;
    }
}
@media screen and (max-width: 567px) {
    .burger {
        order: 2;
        display: block;
    }
    .header_nav {
        translate: 100%;
        transition: var(--transition);
        position: fixed;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        top: 100%;
        right: 0;
        height: calc(100vh - 88px);
        background: #333c;
        color: var(--color-neutral-7);
    }
    #check:checked ~ .header_nav {
        translate: 0;
    
    }
    .header_navlist {
        flex-direction: column;
    }
    .header_auth {
        order: 1;
    }
    
}