
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 400px;
    height: 300px;
    background-color: #926927;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.row{
    gap: 10px;
}
.col{
    width: 20px;
    aspect-ratio: 1/1;
    background: #F8B140;
    border-radius: 50%;
}
.row{
    display: flex;
    justify-content: center;
}