 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  .container{
    position:relative;
    width:400px;
    height:300px;
    background-color:#DE3832;
  }
  .cube1{
    position:absolute;
    width:125px;
    aspect-ratio:1/1;
    background-color:#33499F;
    border:15px solid #FFFFFF;
    border-top:0px;
    border-left:0px;
  }
   .cube2{
    position:absolute;
     bottom:0px;
    width:125px;
    aspect-ratio:1/1;
    background-color:#33499F;
    border:15px solid #FFFFFF;
    border-left:0px;
    border-bottom:0px;
  }
  .rec1{
    position:absolute;
     top:0px;
      right:0px;
    width:225px;
    height:125px;
    background-color:#33499F;
    border:15px solid #FFFFFF;
    border-top:0px;
    border-right:0px;
  }
    .rec2{
    position:absolute;
     bottom:0px;
      right:0px;
    width:225px;
    height:125px;
    background-color:#33499F;
    border:15px solid #FFFFFF;
    border-right:0px;
    border-bottom:0px;
  }