*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: #62306D;
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;
}
.circle{
    border: 40px solid #F7EC7D;
height: 200px;
width: 200px;
margin-top: 45px;
border-left-color: #E38F66;
border-radius: 50%;
}