:root{

    /* colors */

    --color-primary: #F55757;
    --color-heading: #595959;
    --color-paragraph: #737373;
    --color-icon: #09BF31;
    --color-link: #404040;
    --color-background: #FFFFFF;
    --color-opacityred: #FBB7B7;
    --color-borderbackground: #F2F2F2;

     /* Font Families */
     
     --font-family-main: "Lato", sans-serif;

     /* Font Sizes */

     --font-size-1: 15px;
     --font-size-2: 56px;
     --font-size-3: 20px;
     --font-size-4: 43px;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: var(--font-family-main);
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.header_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_navlist{
    display: flex;
    list-style: none;
    gap: 40px;
    
}
.header_navitem a{
    text-decoration: none;
    color:var(--color-link);
}
h1{
    color: var(--color-heading);
    margin: 20px;
}
p{
    color: var(--color-paragraph);
    margin: 20px;
    
}

.buttonbox{
    display: flex;
    
}
.boxone{
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-background);
    width: 182px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
}
.one{
    font-size: var(--font-size-3);
    
.two{
        font-size: var(--font-size-3);
    }
}
.boxtwo{
    border: 1px solid var(--color-primary);
    background-color: var(--color-background);
    color: var(--color-primary);
    width: 140px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.hero_images{
    position: relative;
    margin-top: -300px;
}
.carxmap{
    position: absolute;
    top: 118px;
    left: 538px;
    border: 1px;

}
p{
    width: 586px;
    height: 48px;
}
h1{
    padding-top: 120px;
}
.logoarea{
    position: relative;
}
.logoarea_wrap{
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: absolute;
    top: 846px;
    left: 100px;
    gap: 80px;
}
.logo{
    opacity: 25%;
}
.carmenu{
    position: relative;
}
.carmenu_wrap{
    position: absolute;
    top: 1026px;
    left: 103px;
    gap: 50px;
}
.infomenu{
    display: flex;
    flex-direction: column;
    width: 630px;
    height: 134px;
}
.bd{
   background-color: var(--color-borderbackground);
   width: 397px; 
   height: 297px;
}
.lexusborder{
    position: relative;
}
.jaguarborder{
    position: relative;
}
.mercedesborder{
    position: relative;
}
.lex{
    position: absolute;
    top: 52px;
    bottom: 58px;
    left: 32px;
    right: 27px;
}
.jag{
    position: absolute;
    top: 57px;
    bottom: 57px;
    left: 51px;
    right: 51px;
}
.mers{
    position: absolute;
    top: 57px;
    bottom: 57px;
    left: 29px;
    right: 29px;
}