*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.btngroup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
